---

---

<panel-me id="me">
  {
    `/**
    * About me
    * I have more than 5 years of еxperience in web
    * development lorem ipsum dolor sit amet, 
    * consectetur adipiscing elit, sed do eiusmod
    * tempor incididunt ut labore et dolore
    * magna aliqua. Ut enim ad minim veniam,
    * quis nostrud exercitation ullamco laboris
    * nisi ut aliquip ex ea commodo consequat.
    * Duis aute irure dolor in reprehenderit in
    *
    * Duis aute irure dolor in reprehenderit in
    * voluptate velit esse cillum dolore eu fugiat 
    * nulla pariatur. Excepteur sint occaecat 
    * officia deserunt mollit anim id est laborum.
    */`
      .split('\n')
      .map(line => {
        return <p class="animate-fade px-6 text-2xl font-medium text-lynch">{line}</p>;
      })
  }
</panel-me>

<script>
  import { PanelElement } from '@contracts/panel-element';

  class PanelMe extends PanelElement {
    render() {
      const treeItem = document.querySelector<HTMLSpanElement>('a[href="#me"] span');
      const tabItem = document.querySelector<HTMLAnchorElement>('p span a[href="#me"]');

      if (this.panelhash === '#me') {
        this.classList.remove('hidden');
        treeItem?.classList?.add('text-electric-lime');
        tabItem?.classList?.add('text-electric-lime-200');
      } else {
        this.classList.add('hidden');
        treeItem?.classList.remove('text-electric-lime');
        tabItem?.classList?.remove('text-electric-lime-200');
      }
    }
  }

  customElements.define('panel-me', PanelMe);
</script>
