---

---

<panel-skills id="skills">
  <h1
    class="flex animate-fade items-center justify-center py-2 pl-64 pr-52 text-5xl font-extrabold text-jagc-400 drop-shadow-xl sm:text-8xl"
  >
    Skills
  </h1>
</panel-skills>

<script>
  import { PanelElement } from '@contracts/panel-element';

  class PanelSkills extends PanelElement {
    render() {
      const treeItem = document.querySelector<HTMLSpanElement>('a[href="#skills"] span');
      const tabItem = document.querySelector<HTMLAnchorElement>('p span a[href="#skills"]');

      if (this.panelhash === '#skills') {
        this.classList.remove('hidden');
        treeItem?.classList?.add('text-electric-lime');
        tabItem?.classList?.add('text-electric-lime-200');
      } else {
        this.classList.add('hidden');
        treeItem?.classList?.remove('text-electric-lime');
        tabItem?.classList?.remove('text-electric-lime-200');
      }
    }
  }

  customElements.define('panel-skills', PanelSkills);
</script>
