---
import { WEBSITE_DESCRIPTION, WEBSITE_TITLE } from '@contracts';
import EditorPageLayout from '@layouts/EditorPageLayout.astro';

import AboutBar from '@components/About/AboutBar.astro';
import Experience from '@components/About/Experience.astro';
import Skills from '@components/About/Skills.astro';
import University from '@components/About/University.astro';
import Me from '@components/About/Me.astro';
---

<EditorPageLayout active="about" title={WEBSITE_TITLE} description={WEBSITE_DESCRIPTION}>
  <AboutBar />

  <section class="size-full overflow-y-auto overflow-x-hidden">
    <Experience />

    <Skills />

    <University />

    <Me />
  </section>
</EditorPageLayout>
