---
import { WEBSITE_DESCRIPTION, WEBSITE_TITLE } from '@contracts';

import EditorPageLayout from '@layouts/EditorPageLayout.astro';

import CloseIcon from '@icons/Close.astro';

import ContactBar from '@components/Contact/ContactBar.astro';
import FormComponents from '@components/Contact/FormComponents.astro';
import FormData from '@components/Contact/FormData.astro';
---

<EditorPageLayout active="contact" title={WEBSITE_TITLE} description={WEBSITE_DESCRIPTION}>
  <ContactBar />

  <section class="relative flex size-full flex-col overflow-hidden">
    <p
      class="w-full animate-fade-right border-b border-b-line text-sm font-bold text-[#607B96] animate-duration-500 animate-ease-linear"
    >
      <span class="flex w-40 items-center justify-between gap-1 border-r border-r-line px-3 py-1">
        contact.form

        <a
          href="/"
          class="flex animate-fade-right items-center gap-2 transition-all duration-300 animate-duration-500 animate-ease-linear hover:text-jagc-400"
          aria-label="Close"
        >
          <CloseIcon strokeWidth={5} width={12} height={12} />
        </a>
      </span>
    </p>

    <form action="#" class="grid size-full grid-cols-2">
      <FormComponents />

      <FormData />
    </form>
  </section>
</EditorPageLayout>
