---
import EditorPageLayout from '@layouts/EditorPageLayout.astro';

import CloseIcon from '@icons/Close.astro';

import ContactBar from '@components/Contact/ContactBar.astro';
import FormComponents from '@components/Contact/FormComponents.astro';
import FormData from '@components/Contact/FormData.astro';
---

<EditorPageLayout
  active="contact"
  title="JAGC | Software Developer"
  description="I'm Jaime Gutiérrez, Software Developer with more than 5 years of experience in creating digital solutions. My goal is to transform ideas into functional code and deliver products that make a difference for both my clients and their users."
>
  <ContactBar />

  <section class="relative flex size-full flex-col overflow-hidden">
    <p
      class="w-full animate-fade-right border-b border-b-line text-sm font-bold text-[#607B96] animate-duration-500 animate-ease-linear"
    >
      <span class="flex w-40 items-center justify-between gap-1 border-r border-r-line px-3 py-1">
        contact.form <CloseIcon strokeWidth={5} width={12} height={12} />
      </span>
    </p>

    <form action="#" class="grid size-full grid-cols-2">
      <FormComponents />

      <FormData />
    </form>
  </section>
</EditorPageLayout>
