---
import { WEBSITE_DESCRIPTION, WEBSITE_TITLE } from '@contracts';

import EditorPageLayout from '@layouts/EditorPageLayout.astro';

import CloseIcon from '@icons/Close.astro';

import ContactBar from '@components/Contact/ContactBar.astro';
import FormComponents from '@components/Contact/FormComponents.astro';
import FormData from '@components/Contact/FormData.astro';
---

<EditorPageLayout active="contact" title={WEBSITE_TITLE} description={WEBSITE_DESCRIPTION}>
  <ContactBar />

  <section class="relative flex size-full flex-col overflow-hidden">
    <p
      class="w-full animate-fade-right border-b border-b-big-stone text-sm font-bold text-lynch-300 animate-duration-500 animate-ease-linear"
    >
      <span
        class="flex w-40 cursor-pointer items-center justify-between gap-1 border-r border-r-big-stone py-1 pl-3 pr-2 text-electric-lime-200 hover:bg-black-pearl-975 hover:text-jagc-300"
      >
        contact.form

        <a
          href="/"
          class="animate-fade-right rounded p-1 text-lynch-300 transition-all duration-300 animate-duration-500 animate-ease-linear hover:bg-lynch-300/20 hover:text-jagc-400"
          aria-label="Close"
        >
          <CloseIcon strokeWidth={5} width={12} height={12} />
        </a>
      </span>
    </p>

    <form
      class="grid size-full grid-cols-2"
      action="https://formsubmit.co/bf93fb3c44a82838a5ca04690c5e7742"
      method="post"
    >
      <FormComponents />

      <FormData />

      <input type="hidden" name="_template" value="basic" />
      <input type="hidden" name="_next" value={`${import.meta.env.SITE}/contact`} />
      <input type="hidden" name="_subject" value="Message from the JAGC site" />
      <input
        type="hidden"
        name="_autoresponse"
        value="Thanks for contacting me! I'll be in touch soon. Best regards, Jaime Gutiérrez"
      />
    </form>
  </section>
</EditorPageLayout>
