---

---

<div
  class="col-start-1 flex flex-col items-center justify-center gap-3 border-r border-r-big-stone px-32 font-mono"
>
  <label for="name" class="flex w-full flex-col gap-1">
    <span class="pl-1 font-semibold text-lynch-300">Name:</span>

    <input
      required
      id="name"
      type="text"
      name="name"
      autocomplete="name"
      class="form-input w-full rounded-lg border-0 bg-black-pearl-975 text-electric-lime ring-1 ring-[#1E2D3D] focus:ring-lynch-300"
    />
  </label>

  <label for="email" class="flex w-full flex-col gap-1">
    <span class="pl-1 font-semibold text-lynch-300">Email:</span>

    <input
      required
      id="email"
      type="email"
      name="email"
      autocomplete="email"
      class="form-input mt-1 block w-full rounded-lg border-0 bg-black-pearl-975 text-electric-lime ring-1 ring-[#1E2D3D] focus:ring-lynch-300"
    />
  </label>

  <label for="message" class="flex w-full flex-col gap-1">
    <span class="pl-1 font-semibold text-lynch-300">Message:</span>

    <textarea
      required
      id="message"
      name="message"
      spellcheck
      rows={4}
      class="form-textarea mt-1 block h-36 w-full resize-none rounded-lg border-0 bg-black-pearl-975 text-electric-lime ring-1 ring-[#1E2D3D] focus:ring-lynch-300"
    ></textarea>
  </label>

  <button
    type="submit"
    class="mt-3 rounded-lg bg-[#1C2B3A] px-4 py-2 text-sm uppercase text-white hover:bg-[#263B50] hover:outline hover:outline-2 hover:outline-offset-4 hover:outline-[#263B50] focus:bg-[#263B50] focus:outline focus:outline-2 focus:outline-offset-4 focus:outline-[#263B50] active:bg-black-pearl-975"
    >submit message</button
  >
</div>
