---
import HeroIcons from '@components/HeroIcons.astro';
---

<section class="flex size-full gap-6">
  <div class="z-40 flex size-full flex-col justify-center gap-4 font-mono">
    <h3 class="animate-fade-right text-2xl font-thin">Hello all, It's me</h3>

    <h1 class="animate-fade-left text-7xl font-extrabold animate-duration-500 animate-ease-in-out">
      Jaime Guti&eacute;rrez
    </h1>

    <h3
      class="mb-8 animate-fade-right text-3xl font-bold text-[#4D5BCE] animate-duration-500 animate-ease-in-out"
    >
      {'>'} And I'm a <span id="typed-text" class="text-[#FEA55F]"></span>
    </h3>

    <ul
      class="animate-fade-up text-base text-[#607B96] animate-delay-100 animate-duration-700 animate-ease-in-out"
    >
      {
        [
          ' Cuban engineer based in Uruguay with more than 5 years',
          ' of experience working in software development. I have worked',
          ' with different technologies and frameworks, but',
          ' I have specialized in React and Node.js for the last 3 years.'
        ].map(text => <li class="before:content-['//']">{text}</li>)
      }
    </ul>

    <a
      href="#"
      class="flex w-fit animate-fade-up gap-2 text-base font-semibold text-white no-underline animate-delay-150 animate-duration-700 animate-ease-in-out hover:rounded-md hover:bg-line/50 hover:outline hover:outline-offset-4 hover:outline-line"
    >
      <span class="text-[#4D5BCE]">const</span>
      <span class="text-[#43D9AD]">curriculumVitae</span>
      <span> = </span>
      <span class="text-[#E99287]">"https://click.here/to-get-my-cv"</span>
    </a>

    <a
      href="#"
      class="-mt-2 flex w-fit animate-fade-up gap-2 text-base font-semibold text-white no-underline animate-delay-200 animate-duration-700 animate-ease-in-out hover:rounded-md hover:bg-line/50 hover:outline hover:outline-offset-4 hover:outline-line"
    >
      <span class="text-[#4D5BCE]">const</span>
      <span class="text-[#43D9AD]">letsTalk</span>
      <span> = </span>
      <span class="text-[#E99287]">"https://click.here/to-let_s-talk"</span>
    </a>
  </div>

  <div
    class="z-40 flex size-full animate-jump-in items-center justify-end animate-delay-200 animate-duration-500 animate-ease-in"
  >
    <picture>
      <source srcset="/assets/img/profile/profile-pic.avif" />
      <source srcset="/assets/img/profile/profile-pic.webp" />
      <img
        src="/assets/img/profile/profile-pic.png"
        alt="Jaime Gutiérrez"
        class="max-w-xl animate-float animate-delay-500 animate-duration-[4s] animate-infinite animate-ease-linear"
        width="100%"
      />
    </picture>
  </div>

  <HeroIcons />
</section>

<script>
  import Typed from 'typed.js';
  new Typed('#typed-text', {
    strings: ['Software Engineer', 'Frontend Developer'],
    typeSpeed: 100,
    backSpeed: 80,
    backDelay: 1200,
    loop: true
  });
</script>
