---
import '@fontsource-variable/fira-code';

import { ViewTransitions } from 'astro:transitions';

interface Props {
  title?: string | undefined;
  description?: string | undefined;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <ViewTransitions />

    <meta charset="UTF-8" />
    <meta name="description" property="og:description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>

  <body class="text-lynch-300 h-screen w-screen select-none overflow-hidden bg-[#010c15] p-16">
    <slot />

    <style is:global>
      :root {
        color-scheme: dark;
      }
    </style>
  </body>
</html>
