---
import '@fontsource-variable/fira-code';

import { ViewTransitions } from 'astro:transitions';

import SEO from '@components/SEO.astro';

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <ViewTransitions />

    <SEO title={title} description={description} />
  </head>

  <body class="h-screen w-screen select-none overflow-hidden bg-[#010c15] p-16 text-lynch-300">
    <slot />

    <style is:global>
      :root {
        color-scheme: dark;
      }
    </style>
  </body>
</html>
