---
import type { THeaderItemId } from '@contracts';

import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';

import EditorLayout from './EditorLayout.astro';

interface Props {
  title: string;
  description: string;
  showGradient?: boolean;
  active?: THeaderItemId;
}

const { title, description, active, showGradient = false } = Astro.props;
---

<EditorLayout showGradient={showGradient} title={title} description={description}>
  <Header active={active} />

  <main class="relative flex flex-1 overflow-hidden">
    <slot />
  </main>

  <Footer />
</EditorLayout>
