---
import '@fontsource-variable/fira-code';

import { ViewTransitions } from 'astro:transitions';

import DevNotice from '@components/DevNotice.astro';
import SEO from '@components/SEO.astro';

interface Props {
  title: string;
  description: string;
  showGradient?: boolean;
}

const { title, description, showGradient = false } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <ViewTransitions />

    <SEO title={title} description={description} />
  </head>

  <body class="h-screen w-screen select-none overflow-hidden bg-[#010c15] p-16 text-white">
    <div
      class="relative z-[100] flex size-full animate-fade flex-col overflow-hidden rounded-lg border border-big-stone bg-black-pearl shadow-2xl shadow-[#010C15]"
    >
      {
        showGradient && (
          <div class="absolute left-0 top-0 -z-50 size-full animate-pulse blur-3xl animate-duration-[5000ms] animate-ease-in before:absolute before:bottom-36 before:right-32 before:-z-10 before:size-96 before:rounded-full before:bg-[#4D5BCE] before:blur-3xl after:absolute after:right-72 after:top-32 after:-z-10 after:size-72 after:rounded-full after:bg-[#43D9AD] after:blur-3xl" />
        )
      }

      <slot />
    </div>

    <DevNotice />

    <style is:global>
      :root {
        color-scheme: dark;

        --sb-track-color: #011627;
        --sb-thumb-color: #607b96;
        --sb-size: 12px;
      }

      *::-webkit-scrollbar {
        width: var(--sb-size);
      }

      *::-webkit-scrollbar-track {
        background: var(--sb-track-color);
        border-radius: 0.5rem;
      }

      *::-webkit-scrollbar-thumb {
        background: var(--sb-thumb-color);
        border-radius: 0.5rem;
      }

      @supports not selector(::-webkit-scrollbar) {
        * {
          scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
        }
      }
    </style>
  </body>
</html>
