---
import '@fontsource-variable/fira-code';

import { ViewTransitions } from 'astro:transitions';

interface Props {
  title?: string | undefined;
  description?: string | undefined;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <ViewTransitions />

    <meta charset="UTF-8" />
    <meta name="description" property="og:description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;0,700;1,400&family=Rubik:wght@500;600&display=swap"
      rel="stylesheet"
    />
  </head>

  <body class="h-screen w-screen overflow-hidden bg-[#010c15] p-16 text-[#607B96]">
    <slot />

    <style is:global>
      :root {
        color-scheme: light dark;
      }

      html {
        font-family: system-ui, sans-serif;
      }
    </style>
  </body>
</html>
